
.card{
    width: 16rem;
}
.card-img-top{
    height: 250px;
    object-fit: contain;
}

#cart img{
    width: 80px;
    
}
#cart .row{
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 5px 0px;
   
}
#cart .col-4{
    display: flex;
    align-items: center;
    justify-content: center;
}